/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/channel-artifacts/*.pb
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/org1/*
organizations/fabric-ca/org2/*
addOrg3/fabric-ca/org3/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt

# Fabric generated crypto material
organizations/**/msp/keystore/*
organizations/**/fabric-ca-server.db
addOrg3/fabric-ca/**/msp/keystore/*
addOrg3/fabric-ca/**/fabric-ca-server.db
channel-artifacts/*
